{% extends "base.html" %}

{% block css %}
<style type="text/css">
    a #history {
        font-size: 16px;
        padding: 9px;
    }
    input.t {
        height: 20px;
        width: 250px;
        font-size: 16px;
        padding: 3px 2px;
        margin: 10px;
    }
    textarea {
        padding: 3px 2px;
        font-size: 15px;
    }
    .button {
        vertical-align: middle;
        background: none;
        border: none;
        size: 20px;
        font-size: 16px;
        padding: 2px 10px;
        margin: 10px;
    }
    .button:hover {
        vertical-align: middle;
        background: none;
        border: none;
        size: 20px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        padding: 2px 10px;
    }
    /**/
    input, textarea {
        width: 400px;
    }
    textarea {
        height: auto;
    }
</style>
{% endblock %}

{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-typeahead.js"></script>
<script type="text/javascript">
    $(function () {
            var data_source = [];
            $.ajax({
                url: '/wikiforum/search/get_all_tags/',
                dataType: 'json',
                success: function(data) {
                data_source = data.items;
                var options = {source: data_source};
                $('#id_tags_input').typeahead(options);
                }
                });
            });
</script>
{% endblock %}

{% block title %}
{% if body == "" %}
    Post New
{% else %}
    Edit
{% endif %}
{% endblock %}

{% block content %}
<span><a id="history" href="history/">View History</a></span>
<form method="post" action="/wikiforum/posts/{{ post_id }}/save/">
    {% csrf_token %}
    Title: <input name="title" class="t" value="{{ title }}">
    <br />
    <textarea name="body" rows="10" cols="20">{{ body }}</textarea>
    <br />
    Tags: <input id="id_tags_input" name="tags" class="t" autocomplete="off" value="{{ tags }}">
    <input type="submit" class="button" value="Post" />
</form>
{% endblock %}
