{% extends "base.html" %}
{% block css %}
<style type="text/css">
    table {
        border: 1px solid #c0c0c0;
    }
    tr {
        border: 1px solid #c0c0c0;
    }
    td {
        border: 1px solid #c0c0c0;
        padding: 2px 4px;
    }
</style>
{% endblock %}

{% block title %}History for "{{ post_obj.title }}"{% endblock %}

{% block h1 %}History for "{{ post_obj.title }}"{% endblock %}

{% block content %}
{% if history_list %}
<table>
    <tr>
        <td>user</td>
        <td>time</td>
        <td>contents</td>
    </tr>
    {% for history in history_list %}
    <tr>
        <td>{{ history.modified_by }}</td>
        <td>{{ history.modified }}</td>
        <td>{{ history.body}}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
No history record! &nbsp;
<a href="../">BACK TO EDIT</a>
{% endif %}
{% endblock %}
