{% extends "base.html" %}
{% load wikilink %}

{% block title %}{{ post.title }}{% endblock %}

{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-popover.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
            $(window).load(function(){
                $('#next-post ul li').trigger("click");
                $('#next-post ul li').trigger("click");
                });
            $('#next-post li').hover(function(){
                $(this).css("background", "#c0c0c0");
                }, function(){
                $(this).css("background", "white")
                });
            $('#next-post ul li').click(function() {
                var li_id = $(this).children("h4").children("a").attr('id');
                $.ajax({
                    url: '/mindview/post/' + li_id + '/',
                    dataType: 'json',
                    success: function (data) {
                    $('#next-post ul li#'+li_id).attr('data-content', data['items']);
                    $('#info'+li_id).text(data['items']);
                    }
                    });
                });
            /* Multiple Popover */
            $('#next-post ul li').popover({placement:'right', title: 'Preview'});
            /* Just One Popover */
            /* 
            var isVisible = false;
            var clickedAway = false;
            $('#next-post ul li').popover({placement:'right'}).click(function(e){
                $(this).popover('show');
                $(this).css("background", "#c0c0c0");
                isVisible=true;
                e.preventDefault();
                });
            $(document).click(function(e){
                if (isVisible & clickedAway) {
                    $('#next-post ul li').popover('hide');
                    $('#next-post ul li').css("background", "#fff");
                    isVisible = clickedAway = false;
                }
                else {
                    clickedAway=true;
                }
                });
                */

            $('h2').click(function() {
                var h2_id = $(this).attr('id');
                $.ajax({
                    url: '/mindview/treeview/' + h2_id + '/',
                    dataType: 'json',
                    success: function (data) {
                    /*************/;
                    }
                    });
                });
        });
</script>
{% endblock %}

{% block css %}
<style>
    div.left {
        float: left;
        width: 620px;
    }
#current-post {
    width: 300px;
    border: 1px solid #ccc;
    padding: 0 20px;
    float:right;
}

#current-post span.edit {
    float: right;
    margin-top: 2px;
}
#current-post span.edit a {
    margin-left: 5px;
}
#current-post h2 {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc;
    overflow: hidden;
    margin-top: 5px;
}
#current-post h2 span {
    width: 90%;
    font-size: 18px;
    font-style: italic;
}
#current-post article {
    min-height: 128px;
    height: 60%;
    overflow: auto;
    margin-top: 5px;
}
#current-post .tag {
    width: 100%;
    padding: 5px 0px;
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
}
#current-post #comment .del {
    color: #c0c0c0;
}

#pre-post {
    width: 200px;
    float: right;
    margin-right: 20px;
    border: 1px solid #ccc;
    padding: 0 10px;
}
#pre-post h3 {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc;
    overflow: auto;
    margin-top: 5px;
}
#pre-post article {
    height: 200px;
    overflow: auto;
    margin-top: 5px;
}

#next-post h4 {
    width: 100%;
    overflow: hidden;
}
#next-post {
    width: 225px;
    float: left;
    margin-left: 0px;
    padding-left: 100px;
}
div#content {
    width: 1280px;
}

#next-post li {
    width: 98%;
    border: 2px solid #c0c0c0;
    list-style-type: none;
    margin: 16px 0px;
    padding: 3px;
    /*overflow-x: hidden;
    overflow-y: scroll;*/
    
}
#next-post ul {
    margin: 5px 0px;
}

/******************************/
#next-post ul li {
    position: relative;
}
#next-post ul li .line {
    position: absolute;
    top: 18px;
    left: -102px;
    width: 102px;
    border-top: 1px solid #c0c0c0;
    display: block;
}
/******************************/
.popover-title {
    text-align: center;
}
.popover {
    position: absolute;
    width: 250px;
}

/******************************/
#comment {
    margin: 4px 2px;
}
#comment span {
    float: right;
    font-style: italic;
} 
#commment li {
    margin: 2px;
}
</style>
{% endblock %}
{% block content %}
<div id="content">
<div class="left">
    <section id="current-post">
    <h2 id={{ post.pk }}>{{ post.title }}&nbsp;<span>by <a href="/accounts/users/{{ post.modified_by.username }}/">{{ post.modified_by.username }}</a></span></h2>
    <article>{{ body_html|wiki_ahref|safe }}</article>
    <br />
    <p class="tag">Tag: 
        {% if not tags %}None{% else %}
            {% for tag in tags %}
                <a href="/wikiforum/tags/{{ tag.name }}/">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        {% endif %}
    </p>
    <a href="/wikiforum/posts/{{ post.pk }}/edit/history/">View History</a>&nbsp;
    <span class="edit">
        <a href="/wikiforum/posts/{{ post.pk }}/edit/">Edit</a>&nbsp;
        <a href="reply/">Reply</a>&nbsp;
        or <a href="/wikiforum/posts/{{ new_post.pk }}/edit/">New</a>
    </span>
    <br/>
        <section id="comment">
        Comments:
        <ol>
            {% for comment in comments %}
            <li>{{ comment.content }}&nbsp;
            <span>
                by <a href="/accounts/users/{{ comment.modified_by.username }}/">{{ comment.modified_by.username }}</a>
                {% if comment.modified_by.username == user.username %}
                <a class="del" href="/wikiforum/posts/{{ post.pk }}/comment/{{ comment.pk }}/delete/">delete</a>
                {% endif %}
            </span>
            </li>
            {% endfor %}
        </ol>
        <form method="post" action="/wikiforum/posts/{{ post_id }}/comment/save/">
            {% csrf_token %}
            <table>
                <tr><textarea name="content" rows="1"></textarea></tr>
                <tr><input type="submit" class="button" value="Comment" /></tr>
            </table>
        </form>
        </section>
    </section>
    
    <section id="pre-post">
    {% if not related_pre_post %}<h3>None</h3>
    {% else %}
    <h3>Pre post: <a href="/wikiforum/posts/{{ related_pre_post.pk }}/">{{ related_pre_post.title }}</a></h3>
    <article>{{ related_pre_post.body_html|safe }}</article>
    {% endif %}
    </section>
</div>

<section id="next-post">
<h3>Next post:</h3>
{% if not related_next_posts %}<h4>None</h4>{% endif %}
<ul>
    {% for related_next_post in related_next_posts %}
    <li id="{{ related_next_post.pk }}" rel="popover" data-content="<p id='info{{ related_next_post.pk }}'></p>"><span class="line"></span>
    <h4>
        <a href="/wikiforum/posts/{{ related_next_post.pk }}/" id="{{ related_next_post.pk }}">{{ related_next_post.title }}</a>
    </h4>
    </li>
{% endfor %}
</ul>
</section>
</div>

{% endblock %}

{% block footer %}
<div class="clear"></div>
<div id="footer">
    By Feng Wang
    <span><a href="../../../">Back</a></span>
</div>
{% endblock %}
